
/*-----------------------------------------------------
検索結果エリア
-----------------------------------------------------*/
.result_area{
    padding:5px;
    float:left;
    width:100%;
}
.result_data{
    float:left;
    width:100%;
    background-color:var(--main-bg-color-dark);
    border:2px inset white;
    border-radius: 5px;
}
.target_action_date{
    float:left;
    padding:10px;
}
/*-----------------------------------------------------
カレンダー
-----------------------------------------------------*/
.calendar_area{
    padding:5px;
}

.calendar_area table{
    clear:both;

    border-collapse: collapse;
    border-spacing: 0px;

    margin:0px auto;

    width:700px;
    max-width:700px;

}

.calendar_area td {
    border: solid 1px #c4c4c4;
    vertical-align: top;

    width:200px;
    max-width:200px;
    height:150px;
    max-height:150px;
    padding:2px 4px;
    line-height:1.5em;
}
.calendar_area td.currentYear {
    background-color: white;
}
.calendar_area td .month_title{
    float:left;
    clear:both;
    width:100%;
    max-width:100%;

    border: solid 1px #c4c4c4;
    background-color: var(--sub-bg-color);
    color:var(--sub-font-color);
    max-height:100px;
    text-align: center;
    cursor: pointer;
}
.calendar_area td .month_title span{
    border-bottom:1px solid var(--sub-font-color);
}
.calendar_area td .month_title:hover{
    color:var(--sub-font-color-light);
}
.calendar_area td .month_body{
    float:left;
    clear:both;
    width:100%;
    max-width:100%;
}
.calendar_area td .month{
    font-size:1.5em;
    font-weight: bold;
}
/* 今日 */
.calendar_area td.tomonth{
    border: solid 5px #c4c4c4;
}